# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
/dist
/build
/.next

# Docker files
docker-compose.override.yml
.dockerignore

# Dependency directories
jspm_packages/

# VS Code directories
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
